<web-app>
  <display-name>Archetype Created Web Application</display-name>
    <servlet>
  <servlet-name>prasoon</servlet-name>
  <servlet-class>com.dhavisoft.bean.ServletController</servlet-class>
  <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  <servlet-name>prasoon</servlet-name>
  <url-pattern>/MVCReady</url-pattern>
  </servlet-mapping>
 <servlet>
  <servlet-name>abc</servlet-name>
  <servlet-class>com.dhavisoft.bean.ServletController</servlet-class>
  <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
  <servlet-name>abc</servlet-name>
  <url-pattern>/indexServlet</url-pattern>
  </servlet-mapping>
</web-app>
